# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary Files
# =========================
tempCodeRunnerFile.py

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
